.anchor {
	-fx-background-color: #2969c0;
	-fx-background-radius: 50px;
	-fx-border-radius: 50px;
}

.textField {
	-fx-background-color: #2969c0;
	-fx-border-color: #245cb7;
	-fx-border-radius: 5px;
	-fx-border-width: 5px;
}