.mainBackground {
	-fx-background-color: #07306B;
}

.textField {
	-fx-background-color: #07306B;
	-fx-border-color: #6BAED6;
	-fx-border-radius: 20px;
	-fx-border-width: 1px;
	-fx-border-insets: 0;
	-fx-text-fill: #6BAED6;
}

.font {
	-fx-text-fill: #6BAED6;
}

.header {
	-fx-text-fill: #9ECAE1;
	-fx-font-size: 34px;
}

.button {
	-fx-background-color: #07519C;
	-fx-text-fill: #6BAED6;
}

.dropDown {
	-fx-background-color: #07306B;
	-fx-background-radius: 20px;
	-fx-text-fill: #6BAED6;
	-fx-border-color: #6BAED6;
	-fx-border-radius: 20px;
	-fx-border-width: 1px;
	-fx-border-insets: 0;
}